.preferencias {
    background-color: #fffcf7;
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    font-size: 20px;
    pointer-events: none;
}

.detalhes {
    font-size:  35px;
}

#voluntariar-se {
    transition: 0.3s ease, color 0.3s ease;
    background-color: #277BC0;
    color:#fffcf7;

}

#voluntariar-se:hover {
    background-color: #fffcf7;
    color: #000;
    transform: scale(1.05);
}

