

.detalhes {
    font-size:  35px;
}

#voluntariar-se {
    transition: 0.3s ease, color 0.3s ease;
    background-color: #277BC0;
    color:#fffcf7;

}

#voluntariar-se:hover {
    background-color: #fffcf7;
    color: #000;
    transform: scale(1.05);
}

.textinho {
    color: 'black';
    font-weight: 'bold';
}